:host {
	--background-color: var(--warning-color);
	--button-color: #f39c12; /* Orange */
	--button-hover-color: #e67e22;
}

.container {
	background-color: var(--background-color);
	color: var(--text-color);
	padding: 16px;
	border-radius: var(--button-border-radius);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
}

.button-group button {
	background-color: var(--button-color);
	color: var(--button-text-color);
}

.button-group button:hover {
	background-color: var(--button-hover-color);
}
